body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dataGrid p {
    margin-bottom: 0;
}

.bigDownloadBtn {
    display: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 200px;
    width: 40%;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.downloadSPMAll {
    background-image: linear-gradient(to top right, rgba(36, 66, 255, 0.32), rgba(75, 1, 1, 0.32)), url(images/d_spm_all.png);
}

.downloadFSAll {
    background-image: linear-gradient(to top left, rgba(36, 66, 255, 0.32), rgba(75, 1, 1, 0.32)), url(images/d_fs_all.png);
}

.downloadSPMAtlas {
    background-image: linear-gradient(to bottom right, rgba(36, 66, 255, 0.32), rgba(75, 1, 1, 0.32)), url(images/d_spm_atlas.png);
}

.downloadFSAtlas {
    background-image: linear-gradient(to bottom left, rgba(36, 66, 255, 0.32), rgba(75, 1, 1, 0.32)), url(images/d_fs_atlas.png);
}
.bigDownloadBtn p {
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.galleryControlBtn {
    font-size: 2em;
    flex-basis: 5%;
    cursor: pointer;
}

.statsBox {
    position: absolute;
    top: 30px;
    right: 40px;
    width: auto !important;
}

.statsBox tr:hover {
    font-weight: 500;
    cursor: pointer;
}